body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    color: #333;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

/* Light mode */
@media (prefers-color-scheme: light) {

    .profile, .social-media {
        color: #000;
    }

    .container::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(135deg, #FFF5E1, #FFD9B3, #FFC299, #FFB266);  /* Colores cálidos y suaves */
        background-size: 300% 300%;
        animation: waveMotion 20s ease infinite;
        z-index: -1;
    }

    h2 {
        font-size: 1.2rem; /* Cambia el tamaño de la fuente */
        font-style: italic; /* Cambia el estilo de la fuente a itálico */
        color: #333; /* Cambia el color del texto */
        /* text-transform: uppercase; Transforma el texto a mayúsculas */
        letter-spacing: 2px; /* Espacio entre letras */
        font-weight: bold; /* Pone el texto en negritas */
    }

    .social-icon {
        filter: brightness(1); 
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    
    .profile, .social-media {
        color: #FFFFFF;
    }

    .container::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(135deg, #333333, #4B0082, #800080, #191970);
        background-size: 300% 300%;
        animation: waveMotion 20s ease infinite;
        z-index: -1;
    }

    h2 {
        font-size: 1.2rem; /* Cambia el tamaño de la fuente */
        font-style: italic; /* Cambia el estilo de la fuente a itálico */
        color: #d6cccc; /* Cambia el color del texto */
        /* text-transform: uppercase; Transforma el texto a mayúsculas */
        letter-spacing: 2px; /* Espacio entre letras */
        font-weight: bold; /* Pone el texto en negritas */
    }

    .social-icon {
        filter: brightness(1);
    }
}

@keyframes waveMotion {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 90% 90%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.profile {
    text-align: center;
}

.profile-image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 2px solid #333;
}

.social-media {
    margin-top: 20px;
}

.social-link {
    margin: 0 10px;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.3s ease;
}

.social-icon {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
}

.social-link:hover .social-icon {
    transform: scale(1.1);
}

.social-link:active .social-icon {
    animation: pulse 0.3s;
}

@keyframes pulse {
    0% { transform: scale(1.0); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1.0); }
}
